<% provide(:title, 'Upload Photo') %>
<h1>Upload Photo</h1>
<%= form_for @photo, url: photos_path, method: :post, html: {multipart: true} do|f| %>
  <%= render 'shared/error_messages', object: f.object %>
  <%= f.file_field :image, required: true %><br>
  <%= f.submit "Add" %>
<% end %>
